NODE_ENV=production
PORT=3000
MONGODB_URI=mongodb://mongo:27017/clothing
REDIS_URL=redis://redis:6379
JWT_SECRET=change_me
REFRESH_TOKEN_SECRET=change_me2
EMAIL_SMTP_HOST=
EMAIL_SMTP_USER=
EMAIL_SMTP_PASS=
SEPAY_WEBHOOK_SECRET=
CORS_ORIGINS=https://aristia.shop,https://www.aristia.shop
