NODE_ENV=production
HOST=0.0.0.0
PORT=1337
APP_KEYS=replace_with_random_keys_comma_separated
API_TOKEN_SALT=replace_salt
ADMIN_JWT_SECRET=replace_admin_jwt
# SQLite (dev/PoC)
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
# Or Postgres (production recommended)
# DATABASE_CLIENT=postgres
# DATABASE_HOST=
# DATABASE_PORT=5432
# DATABASE_NAME=
# DATABASE_USERNAME=
# DATABASE_PASSWORD=
