# Render CMS (Strapi) Environment Sample
NODE_ENV=production
HOST=0.0.0.0
PORT=1337
# SQLite demo (persist qua Disk trong render.yaml)
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
# Nếu chuyển Production DB sang Postgres
# DATABASE_CLIENT=postgres
# DATABASE_URL=postgres://<user>:<pass>@<host>:<port>/<db>
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
